name: Validate Nix Flake

on:
  workflow_dispatch:
  push:
    paths:
      - "**.nix"
      - "**.lock"
      - ".github/workflows/check.yml"

jobs:
  check-flake:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3
        
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v2
