name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: determinatesystems/determinate-nix-action@v3
      - uses: determinatesystems/flakehub-cache-action@main

      - name: Update Lockfile
        run: nix flake update

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: update flake inputs"
