name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - uses: DeterminateSystems/update-flake-lock@main

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: update flake inputs"
