name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - uses: DeterminateSystems/update-flake-lock@main

      # - name: Commit and Push
      #   uses: endbug/add-and-commit@v9
      #   with:
      #     message: "chore: update flake inputs"
